body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%;
}
body {
  background-color: powderblue;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem auto;
  width: 90vw;
}
.gallery-card {
  width: 30%;
  background-color: cadetblue;
  height: 30rem;
  margin: 30px auto;
}
