html,
body .body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%;
  background-color: plum;
}
.container-1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px;
  padding: 10px;
}
h2 {
  margin: 1rem;
}
.child-1 {
  width: 28%;
}
.child-2 {
}
.child-3 {
}
